.jumbotron {
  padding: 0em;
  background: #222222 url(../img/banner.jpg) no-repeat;
  color: #eeeeee;
  text-align: center;
}

.footer {
  margin-bottom: 0;
}

.remark {
  margin-left: 0;
  padding-left: 0;
}