<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<!-- Header Wrapper -->
<div class="wrapper style1">
  <!-- Banner -->
  <div id="banner">
    <section class="container">
      <h2>Food Options</h2>
      <span> </span>
      <p>Alternative energy resources for the masses.</p>
    </section>
  </div>
</div>